
header {
  overflow: hidden;
}

#contents {
  overflow: hidden;
}

footer {
  overflow: hidden;
}

a img {
  border: none;
}

/*nav {
  position: inherit;
  
  & > ul > li > ul,
  & > ul > li > div {
    //position: relative;
    z-index: 3;
  }

  & > div.panel {
    //margin: 0;
    //position: relative;
    z-index: 2;
  }
}

#products-slider {
  position: relative;
  z-index: -1;

  #slide-box {
    //behavior: url('/stylesheets/PIE.htc');
  }
}

*/